.arrows{
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: up_down 2s ease-in-out infinite;
}

.arrows>img{
    display: block;
    width: 100%;
    height: 100%;
}

@keyframes up_down{
    0%{
        bottom: 8%;
    }
    50%{
        bottom: 10%;
    }
    100%{
        bottom: 8%;
    }
}