/*BOX-SIZING*/
* *{
    box-sizing: border-box;
}

/*COLORS*/
:root {
    --black: #0E0E0E;
    --accent: #E83B3B;
    --light-grey: #B2B2B2;
    --dark-grey: #54595F;
    --hover-gray: #777777;
    --gray: #808080;
    --dropdown-bg: #333;
    --light-grey-80: #D9D9D9B3;
    --light-grey-30: #D9D9D94D;
    --white: #F3F3F3;
    --hover-black: #4A4A4A;
    --black-opac: #0E0E0ECC;
    --dark-gradient: #440000E6;
    --light-gradient: #772C02E6;
    --yellow: #F1E993;
    --blue: #327AB8;
    --button-background: linear-gradient(to top, var(--dark-gradient) 0%, var(--light-gradient) 100%);
}

body{
    background-color: var(--black);
}

/* Custom scrollbar for Webkit browsers */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--black);
}

::-webkit-scrollbar-thumb {
    background: var(--accent);
    opacity: 1;
    transition: opacity 0.4s ease;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
    opacity: 0.8;
}

::-webkit-scrollbar-button {
    display: none;
}
