.menu_icon {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
}

.menu_icon span{
    display: block;
    background-color: var(--dark-grey);
    width: 20px;
    height: 3px;
    display: block;
    margin-bottom: 4px;
    border-radius: 1px;
}

@media screen and (min-width: 500px) {
    .menu_icon span{
        width: 36px;
        height: 4px;
        border-radius: 2px;
    }
}
